
{% extends 'main.html' %}

{% block content %}

	<div class="bg-light" class=" d-flex justify-content-center align-items-center" style="height: 1px;"></div>

	<div class="wrapper mt-3 w-100">
		<div class="d-flex justify-content-center" >
			<a class="btn btn-outline-dark mx-3" id="action_buttons--home" href="{% url 'topics' %}">BROWSE TOPICS</a>
			<a class="btn btn-outline-dark" id="action_buttons--home" href="{% url 'activity' %}">RECENT MESSAGES</a>
		</div>
	</div>

	<main id="main--home" class=" d-flex justify-content-center align-items-center">
		<div class="grid container-fluid">
			<div class="contaier row">
				<div class="col-2 d-none d-xl-block">
					<h2 class="fs-5 mt-4 mb-5 opacity-75"><span id="title--browse">Cauta Subiecte</span></h2>

					<div class="wrappper">
                        
                        {% for topic in topics %}
                        <div class="row mb-5" id="browse_section">
                            <div class="col fs-6">
                                <a class="fs-6" id="topic--name" href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                            </div>

                            <div class="" style="max-width: 50px;">
                                <span id="room_count" class="fs-6">{{topic.room_set.all.count}}</span>
                            </div>
                        </div>
                        {% endfor %}
						<div class="col fs-6" style="color:var(--color-light);">
							<span class="fs-6"><a href="{% url 'topics' %}" style="text-decoration: none; color: var(--color-darker);">Mai Multe Subiecte</a></span>
						 </div>
                        
                    </div>
				</div>

				<div class="col-1" id="col--1"></div>

				<div class="col d-sm-col-10 mb-5">
					<div class="wrapper w-100" style="height: 100vh;">

						<div class="group row mb-5 mt-4 mx-2 " style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius:20px; padding: 20px;background-color: var(--color-darker);">
							<div class="row d-flex justify-content-center mt-4"><img src="{{user.profile.url}}"
												alt="profile
													photo" style="width:100px; height: auto;  border-radius: 50%; border: 1px solid #ccc; border:none;"></div>
							<div class="row text-center mt-1 mb-2">
								<h4 style="color: var(--color-intense);">{{user.username}}</h4>
							</div>

							<div class="row d-flex justify-content-center">
								{% if request.user == user %}
								<button class="btn " id="button_green" id="edit--profile--button">
									<a href="{% url 'update-user' %}" style="text-decoration: underline; color: white;">Editeaza Profilul</a>
								</button>
								{% endif %}
								
							</div>

							<div class="row text-end mt-3">
								<h5 style="color: var(--color-white);">Informatii despre mine</h5><br>
								<span style="color: var(--color-light);">{{user.about}}</span>
							</div>
							
						</div>

						
						<div class="mt-4">
							<div class="">
								<div class="group">
									<h2 class="opacity-100"><span class="fs-5" id="title--study">Subiecte Gestionate de <span style="color: var(--color-darker);">{{user.username}}</span> </span></h2>
								</div>
								
							</div>
						</div>
						
						{% for room in rooms %}
						<div class="card mb-5" id="card--message" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; background-color: var(--color-light);">
							<div class="card-header">
								<div class="wrappper d-flex justify-content-between">
									<div class=""><small id="user--name">
											<img src="{{user.profile.url}}"
												alt="profile
													photo" style="width: 35px; height: 35px; border-radius: 50%; border: 1px solid #ccc;">
											{{user.username}}</small>
										</div>

									<div class=""><small style="color: var(--color-black);">{{room.created|timesince}}</small></div>
								</div>
							</div>

							<div class="card-body">
								<h5 class="card-title mt-3 fs-3 d-sm-fs-5"> <a href="{% url 'room' room.id %}"
										style="text-decoration: none; color: black;" id="title_link_a_home">{{room.name}}</a> </h5>

								<p class="card-text mb-2">{{room.description}}</p>
							</div>

							<div class="card-footer w-100">
								<div class="wrapper d-flex justify-content-between w-100"><a href="#"
										class="btn btn-outline-light btn-sm "><small class="text-light"><i
												class="fa-solid fa-user-large" style="color: var(--color-black);"></i>

											
												{% if room.participants.all.count == 1 %}
												<span style="color:var(--color-black);">{{room.participants.all.count}} participant</span>
												{% else %}
												<span style="color:var(--color-black);">{{room.participants.all.count}} participanti</span>
												{% endif %}
											</small></a>

									<button class="btn btn-dark disabled btn-sm rounded-circle"><small
											class="text-light">Java</small></button>
								</div>
							</div>
						</div>
						{% endfor %}

						
						
					</div>
				</div>

				<div class="col-3 d-none d-xl-block">
					<div class="">
						<h2 class="fs-5 mt-4 mb-5 opacity-75 d-flex justify-content-end"><span id="title--recent">MESAJE RECENTE</span></h2>

						<div class="wrappper">

							{% for message in recent_messages %}
                                <!-- card start -->

                                <div class="card w-100 mb-4" style="width: 18rem;" id="recent--card">
                                    <div class="card-header">
                                        <h5 class="card-title text-end"><img src="{{user.profile.url}}" alt="profile photo" style="width: 35px; border-radius: 50%; border: 1px solid #ccc;"><a href="#" style="text-decoration:none; color: black; vertical-align: middle;">@{{message.user.username}} </a> </h5>
                                    </div>

                                    <div class="card-body">
                                        <h6 class="card-text mb-4 text-end">a recationat in <a href="{% url 'room' message.room.id %}" style="text-decoration:none ; color: var(--color-darker);">"{{message.room.name}}" </a></h6>
                        				<a href="{% url 'room' message.room.id %}" id="message--a"><span class="bg-dark" id="message">{{message}}</span></a>
                                    </div>
                                </div><!-- card end -->

                            {% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}